body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column
}

h1 {
    width: 90%;
    text-align: center;
    margin : 3rem auto;
    font-size: 2.2rem;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 2rem 1rem;
    gap: 1rem;
}


#stat {
    align-self: center;
}

table {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 2rem;
}

table th {
    border: 1px solid #ccc;
    font-size: 1.5rem;
    color: white;

}

table td {
    border: 1px solid #ccc;
}

#addButton {
    width: 90%;
    margin : 0 auto;
}

footer p{
    margin-left: auto;
}