body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    vertical-align: bottom;
}

img {
    width: 100%;
}

#logo{
    width: 10%;
    img{
        margin-left: 45%;
    }
}

h1 {
    width: 90%;
    text-align: center;
    margin : 3rem auto;
    font-size: 2.2rem;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

nav .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button a{
    margin-right: 1rem;
}


#stat {
    width: 90%;
    margin-left: 5%;
}

table {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 2rem;
}

table th {
    border: 1px solid #ccc;
    font-size: 1.5rem;
    color: white;

}

table td {
    border: 1px solid #ccc;
}

#addButton {
    width: 90%;
    margin : 0 auto;
}

tbody td .outline.primary,
tbody td .outline.secondary {
    width: 49%;
}